<HEAD><TITLE>The bicep/Matlab Data Structure Reference</TITLE></HEAD>
<BODY bgcolor=#e8eff8>
<H1>The  <code>bicep/Matlab</code> Data Structure Reference</H1>

<a href="documentation.html">BACK to the main bicep_analysis/matlab Documentation page</a> 

<br>
data products files and contents:
<UL>

<LI>xxxxxx_tod.mat
  <ul>
  <li><a href="#d">d - Time-Ordered Data (TOD) structure</a>
  <li><a href="#fs">fs - find scans structure</a>
  <li><a href="#en">en - el nod structure</a>
  </ul>
<LI>xxxxxx_noisespec_*.mat
  <ul>
  <li><a href="#spec">spec - noise model structure</a>
  <li><a href="#fs">fs - find scans structure</a>
  </ul>
<LI><a href="#p">p - focal plane parameters structure</a>
<LI><a href="#ind">ind - channel indices structure</a>
<LI><a href="#scancheck">scancheck - scancheck flag array</a>
<LI><a href="#map">map structure</a>
<LI><a href="#raw_aps">raw angular power spectrum</a>
</UL>



<a name="fs"><hr>
<H2>fs - find scans structure</H2>
<CODE>created by:
<code><a href="reduc_initial.html">reduc_initial</a><code>
<BR>
used by   :
almost every other piece of code.
</CODE>

<p>
For example, for a phase worth of BICEP data
(B20060702_cmb10_1A_B_315) with 1032 scans, 1000 CMB (10 scansets of
100 half-scans), and 16 galcals at start and 16 galcals at end:

<pre>
fs = 

      set: [1032x1 double]   scanset index (0 through 11)
      num: [1032x1 double]   scan number within scanset
    start: [1032x1 double]   start of half-scan index (fast registers)
     stop: [1032x1 double]   stop of half-scan index (fast registers)	     
      inc: [1032x1 double]   scan direction (0 or 1)
       sf: [1032x1 double]   start of half-scan index (good part)
       ef: [1032x1 double]   stop of half-scan index (good part)
</pre>


<a name="en"><hr>
<H2>en - el nod structure</H2>
<CODE>created by:
<code><a href="reduc_initial.html">reduc_initial</a><code>
<BR>
used by   :
cuts, mapmaking, reducplots
</CODE>

<p>
The el nod structure is similar to the find-scans structure, but with
additional information from the reduction of the el nods.
<pre>
en =

     s: [2x1 double]         starting frame of each el nod
     e: [2x1 double]         ending frame of each el nod
    sf: [2x1 double]         starting fast index
    ef: [2x1 double]         ending fast index
     t: [2x1 double]         time (fractional MJD) of el nod starts
     g: [2x528x4 double]     (el nods) x (channels)
                              x ([offset, gain, goodness-of-fit, nan-count])
</pre>


<a name="d"><hr>
<H2>d - Time-Ordered Data (TOD) structure</H2>
<CODE>created by:
<code><a href="reduc_initial.html">reduc_initial</a><code>
<BR>
used by  : almost every other piece of code.
</CODE>

<p>
For example, for a phase worth of BICEP data
(B20060702_cmb10_1A_B_315) with 1032 scans, 1000 CMB (10 scansets of
100 half-scans), and 16 galcals at start and 16 galcals at end:
<pre>
d = 
             pointing: [1x1 struct]             offline pointing corrected timestream
                     hor: [1x1 struct]
                        az: [323510x1 double]
                        el: [323510x1 double]
                        dk: [323510x1 double]
                     cel: [1x1 struct]
                        ra: [323510x1 double]
                       dec: [323510x1 double]
                        dk: [323510x1 double]
 array.frame.features: [32351x1 double]        feature bit (slow register)
         mce0.data.fb: [323510x144 double]     144 channels bolo tods
antenna0.time.utcfast: [323510x1 double]       fast time register
antenna0.tracker.encoder_off: [32351x3 double] encoder  zeros (slow register)
             rawpoint: [1x1 struct]            same as d.pointing, but uncorrected.
             relgains: [144x12 double]         per-channel, per-scanset relgains
         relgains_err: [144x12 double]         relgains error.
                    t: [323510x1 double]       same as antenna0.time.utcfast  
                   ra: [323510x1 double]       same as d.pointing.cel.ra
                  dec: [323510x1 double]       same as d.pointing.cel.dec
                 scan: [1x1 struct]            scan and source information
                  src: {12x1 cell}
                throw: [12x1 double]
                 rate: [12x1 double]
                azoff: [323510x1 double]       azimuth offset from scan center.
</pre>


<a name="spec"><hr>
<H2>spec - noise model structure</H2>
<CODE>created by:
<a href=".html">reduc_makespec.m</a>,
<BR>
used by   :
<a href=".html">reduc_makesim.m</a>,
</CODE>

<p>
For exemple for a phase of BICEP data ("load /data/noispec/matlab_version/B20060702_cmb10_1A_B_315_noispec_filts3d3_nset100")
<pre>
spec = 
      ps: [10x144x144x12 double]    cross spectra, for each of 10 scanset, 144x144 light channels, 12 freq bins
      bs: [10x12 double]          freq bin centers, in Hz
      be: [10x13 double]          freq bin edges, in Hz
    nhit: [10x12 double]          number of samples per freq bin

spec.nhit(1,:) = [ 100,  100,  100,200, 300, 500, 700, 1000, 1500, 2200, 3200]
</pre>


<a name="p"><hr>
<H2>p - focal plane structure</H2>
<CODE>created by:
ParameterRead.m
<BR>
used by   :
</CODE>
<p>
<pre>
p = 
         hextant: {144x1 cell}
           pixel: [144x1 double]
         channel: [144x1 double]
             rtc: [144x1 double]
            type: {144x1 cell}
            band: [144x1 double]
             psb: {144x1 cell}
            flag: [144x1 double]
         new_psb: [144x1 double]
           front: [144x1 double]
              qu: {144x1 cell}
           delta: [144x1 double]
              r0: [144x1 double]
            beta: [144x1 double]
              g0: [144x1 double]
           q_opt: [144x1 double]
           wafer: {144x1 cell}
           slice: {144x1 cell}
          device: {144x1 cell}
             ntd: {144x1 cell}
            r_pp: [144x1 double]
           r_abs: [144x1 double]
          r_lead: [144x1 double]
             web: {144x1 cell}
            chip: {144x1 cell}
       connector: {144x1 cell}
             die: {144x1 cell}
             frm: {144x1 cell}
        frm_bias: {144x1 cell}
              bc: [144x1 double]
              bw: [144x1 double]
              dq: [144x1 double]
              oe: [144x1 double]
          t_mirr: [144x1 double]
       dvdt_bath: [144x1 double]
        fwhm_maj: [144x1 double]
        fwhm_min: [144x1 double]
               r: [144x1 double]
           theta: [144x1 double]
           alpha: [144x1 double]
             chi: [144x1 double]
         epsilon: [144x1 double]
    channel_name: {1x144 cell}
    chi_thetaref: [144x1 double]

</pre>

<a name="ind"><hr>
<H2>ind - channel indices structure</H2>
<CODE>created by:
<a href="get_array_info.html">get_array_info.m</a>
<BR>
used by   :
</CODE>
<p>
<pre>
ind = 

        all: [1x144 double]
       alla: [1x72 double]
       allb: [1x72 double]
          n: [1x122 double]
          a: [1x110 double]
          l: [1x98 double]
          d: [1 2 25 26 49 50 73 74 97 98 121 122]
          t: [23 24 47 48 71 72 95 96 119 120 143 144]
       l150: [1x48 double]
       l100: [1x50 double]
       l220: [1x0 double]
         ga: [1x110 double]
         gl: [1x73 double]
         gd: [1 2 25 26 49 50 73 74 97 98 121 122]
      gl150: [1x34 double]
      gl100: [1x39 double]
        rgl: [1x66 double]
        rgd: [1 2 25 26 49 50 73 74 97 98 121 122]
     rgl150: [3 4 11 12 27 28 33 34 53 54 57 58 59 60 81 82 83 84 101 102 105 106 107 108 129 130 131 132]
     rgl100: [1x38 double]
         la: [1x49 double]
         lb: [1x49 double]
        gla: [1x38 double]
        glb: [1x35 double]
     gl100a: [13 15 19 21 37 39 43 61 63 67 69 85 87 91 111 115 117 133 135 139]
     gl150a: [3 9 11 27 33 35 51 53 57 59 75 81 83 101 105 107 129 131]
     gl100b: [14 16 20 22 38 40 44 62 64 68 70 86 88 92 112 116 118 136 140]
     gl150b: [4 6 12 28 34 54 58 60 82 84 102 106 108 124 130 132]
       rgla: [1x33 double]
       rglb: [1x33 double]
    rgl100a: [13 15 19 21 37 39 43 61 63 67 69 85 87 91 111 115 117 135 139]
    rgl150a: [3 11 27 33 53 57 59 81 83 101 105 107 129 131]
          q: [1x48 double]
          u: [1x50 double]
    rgl100q: [13 14 15 16 19 20 21 22 61 62 63 64 67 68 111 112 115 116 117 118]
    rgl100u: [37 38 39 40 43 44 69 70 85 86 87 88 91 92 135 136 139 140]
    rgl150q: [3 4 11 12 53 54 57 58 59 60 105 106 107 108]
    rgl150u: [27 28 33 34 81 82 83 84 101 102 129 130 131 132]

</pre>

<a name="map">
<HR>
<H2>map - map structure</H2>
<CODE>
created by: reduc_makecomap.m, reduc_makecomap_v2.m
<BR>
used by   : reduc_plotcomap.m
</CODE><p>

load('maps/sim008_filtp3_weight2_jack0.mat')
<pre>
  m           1x1                4882  struct              
m = 

    pixsize: 0.2500
         lx: -55
         hx: 55
         ly: -70
         hy: -45
       xdos: 59.1030
       ydos: 25
         nx: 236
         ny: 100
      x_tic: [1x236 double]
      y_tic: [1x100 double]
       proj: 'radec'

  map         2x1             3029056  struct              
map = 

2x1 struct array with fields:
    T
    Titime
    Tvar
    x_tic
    y_tic
    Q
    U
    Qvar
    Uvar
    QUcovar

  mapopt      1x1              876394  struct 
mapopt = 

             type: 'bicep'
             filt: 'p3'
         exmaptag: 'fullseason_v02_'
               gs: 1
            acsav: 0
           usepsm: 0
          beamcen: 'obs'
           polpar: 'obs'
          beamwid: 'fixed'
         jacktype: 0
         filttype: 'normal'
        coaddtype: 0
           weight: 2
             proj: 'radec'
          roundto: 1
         deglitch: 'scancheck'
    hsvarfromreal: 0
           exname: ''
              usr: ''
             tags: {1x686 cell}
         filename: {1x686 cell}
              ind: {1x686 cell}
                p: {1x686 cell}

</pre>

<a name="raw_aps">
<HR>
<H2>raw_aps structure</H2>
<CODE>
created by: reduc_makeaps.m
<BR>
used by   : 
</code>

load('aps/sim008_filtp3_weight2_jack0.mat')
<pre>
aps = 

3x1 struct array with fields:
    l
    Cs_l

</pre>

<HR>
Last modified by Denis Barkats (21 Sept 2009)
</BODY>
