<p><a href="..">up</a>

<p><a href="001.html">calibrated scans</a>

<p><a href="cals.html">all cal quantities versus time</a>

<p><a href="gnd.shtml">groundscan (started 060414)</a>

<p><a href="maps_h5.25d50_dk57.html">binned scans field h5.25d50 @ dk=57</a>
<p><a href="maps_h5.75d50_dk57.html">binned scans field h5.75d50 @ dk=57</a>
<p><a href="maps_h5.25d50_dk-3.html">binned scans field h5.25d50 @ dk=-3</a>
<p><a href="maps_h5.75d50_dk-3.html">binned scans field h5.75d50 @ dk=-3</a>
<p><a href="maps_h5.25d50_minus_h5.75d50_dk57.html">field diff @ dk=57</a>
<p><a href="maps_h5.25d50_minus_h5.75d50_dk-3.html">field diff @ dk=-3</a>

<p><a href="../../mirror_pole_to_chi/checkplots/">checkplots</a>
